<div class="row" style="padding-top: 30px">

  <div class=" col-lg-12 col-md-12 col-sm-12">

    <h1>
      Online Trading
    </h1>
  </div>

  <div class=" col-lg-12 col-md-12 col-sm-12">
    <p>Welcome to our online trading platform. If you are knowledgeable about direct trading, then this is a great solution
      for you. Our platform enables you to trade in a wide range of JSE listed shares. The trading desk requires an additional
      login, as you will be connecting to the JSE. Contact your advisor for more information about this solution and the
      fees involved.</p>
    <p>Once logged in, you will be able to:
      <br />

    <ul style="list-style:disc; list-style-position: inside;">
      <li>Buy and sell shares;</li>
      <li>Create a custom stock watchlist;</li>
      <li>Identify buy and sell opportunities by activating alerts;</li>
      <li>View your account details and statements.</li>
    </ul>
 
    <p>
      Proceed to the <a target='_blank' href='https://www.onlinesecurities.citadel.co.za/UserLogin/tabid/230/Default.aspx?returnurl=%2fHOME.aspx'>login page</a>.
    </p>
    <p>
      For technical assistance send an email to
      <a href="mailto:pcs@citadel.co.za">pcs@citadel.co.za</a>
    </p>
  </div>
</div>