<div class="row row-centered " style="padding-top: 30px">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centered ">
    <app-information></app-information>
  </div>

  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centered ">
    <label for="userName">Username:</label>
    <input type="text" placeholder="UserName" [(ngModel)]="userName" value="" class="passwordInput" readonly />
  </div>
</div>

<div class="row row-centered ">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centered ">
    <label for="pwd">Password:</label>
    <input type="password" placeholder="Password" [(ngModel)]="userPsw" value="" class="passwordInput" />
  </div>
</div>

<div class="row row-centered ">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centered ">
    <label for="changepwd">Confirm Password:</label>
    <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPsw" value="" class="passwordInput" />
  </div>
</div>

<div class="row row-centered " *ngIf="globalServ.ShowLoginOTP == false">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centeredNav ">
    <input id="UpdateButton" type="button" (click)="UpdatePsw()" name="action" value="Update" class="btn btn-primary" style="float: right;"/>
  </div>
</div>

<div class="row row-centered " *ngIf="globalServ.ShowLoginOTP == true">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-centeredValidation">
     <app-otpverification-card [SendOTP]="globalServ.SendLoginOTP" (ValidationResult)="ValidationResult($event)" ></app-otpverification-card> 

  </div>
</div>