<div class="row" style="padding-top: 30px">
  <div class=" col-lg-12 col-md-12 col-sm-12">
    <h1>
      INDICATORS
    </h1>

    <div id="mobileFrame" class="row">
      <div style="position:relative; min-height: 50vh;height:500vh; width:100%;overflow:auto;-webkit-overflow-scrolling:touch">
        <iframe id="iframeContent" src="https://www.onlinesecurities.citadel.co.za/external.aspx" height="100%" style="position:absolute;top:0px;left:0px; width:600px;height:100%"
          scrolling="no" frameborder="0">Loading...</iframe>
      </div>
    </div>
  </div>
</div>