<div class="row" style="margin-top: 0">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <app-information></app-information>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>
      <strong>REGISTER CLIENT</strong>
    </h1>
  </div>

  <div *ngIf="requestSend == false">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 spacingRow">
      <input type="text" [(ngModel)]="IDNumber" placeholder="ID / PASSPORT NUMBER" class="emailInput" />
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 spacingRow">

    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 spacingRow">
      <input type="text" [(ngModel)]="emailAddress" placeholder="EMAIL ADDRESS" class="emailInput" />
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 spacingRow">

    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 spacingRow">
      <input type="text" [(ngModel)]="cellPhone" placeholder="CELL PHONE NUMBER" class="emailInput" />
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 spacingRow">
      <input type="button" (click)="registerClient()" name="action" value="Submit" class="btn btn-primary" />
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacingRow">
      <!-- <re-captcha #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" [siteKey]="coreServ.recaptchaSiteKey"></re-captcha> -->
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacingRow">
      <p>
        The Citadel call centre is available from 7am until 7pm weekdays on 086 110 0628 or email to support@citadel.co.za. Alternatively,
        contact your advisor. You can also access My Secure Zone by downloading the Citadel app. To download our app, click
        on the relevant icon below:
      </p>

    </div>
  </div>

  <div *ngIf="requestSend == true">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacingRow">
        <span [innerHTML]="requestDescription"></span>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacingRow">
        <p>The Citadel call centre is available from 7am until 7pm weekdays on 086 110 0628 or email to <a style="font-family:Georgia" href="mailto:support@citadel.co.za?subject=Request for My Secure Zone username and password">support@citadel.co.za</a>. Alternatively, contact your advisor.</p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacingRow">
        <p>You can also access My Secure Zone by downloading the Citadel app. To download our app, click on the relevant icon below:</p>
        <p>
            <a href="https://itunes.apple.com/us/app/citadel-investment-services/id1259824402?ls=1&mt=8" target="_blank" style="display:inline-block;float:left"><img src="~/Images/page-images/AppStore.jpg" alt="AppStore" align="middle" style="display:inline-block;float:left; padding-right:10px;"></a>
            <span></span><a href="https://play.google.com/store/apps/details?id=za.co.citadel.app" target="_blank"><img src="/Images/page-images/GoogleStore.jpg" alt="GoogleStore" align="middle" style="display:inline-block;float:left; padding-right:10px;"></a>
        </p>
    </div>
  </div>

</div>